<div id="clearance" class="user-edit">
  <h2><%= Edit Profile %></h2>
<%= form_for :user, url: edit_user_path(@user), action: :update, method: :post  do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :email %>
    <%= f.submit "Update Account" %>
<% end %>
</div>