<nav class="navbar navbar-inverse fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Airbnb Clone', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <% if signed_in? %>
          <li><span class="current_user"><%= current_user.email %></span></li>
          <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
          <li><%= link_to t(".host"), new_user_listing_path(user_id: current_user.id) %></li>
        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav">
        <% if signed_in? %>
          <% if current_user.superadmin? %>
            <li><%= link_to t("Top secret only available to Super Admin"), "/superadmin_secret" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


 
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>